In [23]:
import pandas as pd
import pickle

In [24]:
dataset = pd.read_csv('salary.csv')

In [25]:
dataset

   Index experience  test_score  interview_score  salary
0      0       zero     8.00000                9   50000
1      1       zero     8.00000                6   45000
2      2       five     6.00000                7   60000
3      3        two    10.00000               10   65000
4      4      seven     9.00000                6   70000
5      5      three     7.00000               10   62000
6      6        ten     7.85714                7   72000
7      7     eleven     7.00000                8   80000

In [26]:
dataset['experience'].fillna(0, inplace=True)

In [27]:
dataset['test_score'].fillna(dataset['test_score'].mean(), inplace=True)

In [28]:
X = dataset.iloc[:, :3]

In [29]:
#Converting words to integer values
def convert_to_int(word):
    word_dict = {'one':1, 'two':2, 'three':3, 'four':4, 'five':5, 'six':6, 'seven':7, 'eight':8,
                'nine':9, 'ten':10, 'eleven':11, 'twelve':12, 'zero':0, 0: 0}
    return word_dict[word]

In [30]:
X['experience'] = X['experience'].apply(lambda x : convert_to_int(x))

In [31]:
X['experience']

0     0
1     0
2     5
3     2
4     7
5     3
6    10
7    11
Name: experience, dtype: int64

In [32]:
y = dataset.iloc[:, -1]

In [33]:
#Splitting Training and Test Set
#Since we have a very small dataset, we will train our model with all availabe data.

from sklearn.linear_model import LinearRegression
regressor = LinearRegression()

In [34]:
#Fitting model with trainig data
regressor.fit(X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
# Saving model to disk
pickle.dump(regressor, open('model.pkl','wb'))

In [37]:
# Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[9, 9, 6]]))

[77101.29500127]